<nav class="nav p-4 d-flex justify-content-between">
    <div class="d-flex">
        <li><a routerLink="" class="cursor-pointer">Home</a></li>
        <li><a routerLink="MyProfile" class="cursor-pointer">My Profile</a></li>
    </div>
    <div class="d-flex justify-content-end auth-main">
        <li><a routerLink="Login" class="cursor-pointer">Login</a></li>
        <li><a routerLink="Registration" class="cursor-pointer">Sign Up</a></li>
    </div>
        
</nav>

<router-outlet></router-outlet>